{% extends "base.html" %}
<!-- This page is the Create operation from CRUD for the Task model. Part of it is also extended to for creation of SubTasks -->
{% block content %}
<h1>New</h1>
<br>
<form method="POST" enctype="multipart/form-data">

    <!-- Security token -->
    {% csrf_token %}
 
    <!-- Using the formset -->
    {{ form.as_p }}
    <div class="d-grid gap-2 d-md-block">
        <input type="submit" value="Done" class="btn btn-primary">
    <!-- button to navigate back to previous page -->
        <input type="button" class="btn btn-secondary" onclick="history.back()" value="Cancel" />
    </div>
    
</form>
{% endblock content %}