{% extends 'base.html' %}
{% block content %}
<h1>{{task_count}} tasks</h1>
<h4>in all categories</h4>
<br>
<div class="d-grid gap-2 d-md-block">
    <a class="btn btn-primary" href="{% url 'tasks_new' %}" role="button"><i class="bi bi-plus-lg"></i>&nbsp;&nbsp;&nbsp;New Task</a>
</div>

<br>
<br>
<div class="table-responsive">
<table class="table table-sm table-hover table-borderless">
    <thead>
    <tr>
        <th>Title</th>
        <th>Status</th>
        <th>Due</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    {% for task in task_list %}
    <tr>
        <td>
            {% if task.status == 'In progress' %}
            <i class="bi bi-square-half"></i>
            {% elif task.status == 'Urgent' %}   
            <i class="bi bi-arrow-up-square"></i>
            {% elif task.status == 'Complete' %}   
            <i class="bi bi-check-square-fill"></i>
            {% elif task.status == 'Delayed' %}   
            <i class="bi bi-x-square"></i>
            {% else %}
            <i class="bi bi-square"></i>
            {% endif %}
                &nbsp;
            <a href="{% url 'tasks_detail' task.id %}">
                {{ task.title | truncatechars:20}}</a>
        </td>
        <td>
            {{task.status}}
        </td>
        <td>
            {{task.due_at}}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
<!-- <hr/> -->
{% endblock content %}