$font: 'Inter', 'Arial', sans-serif;
$color: #ffffff;

body {
    font-family: $font;
    background-color: $color;
}

h1 {
    // text-transform: uppercase;
    font-weight:700;
}

.cen{
    text-align: center;
}

.complete{
    background-color: #19875450;
    }

.incomplete{
    background-color: #dc354550;
    }