{% extends "base.html" %}
{% block title %}
<title>toDoList Home</title>
{% endblock title%}
{% block content %}

<h1>{{ today }}</h1>
<h4>Hi. You have {{ task_count }} tasks. of these are overdue.</h4>
<br>
<!-- <a class="btn btn-primary btn" href="{% url 'tasks_new' %}" role="button"><i class="bi bi-plus-lg"></i>&nbsp;&nbsp;&nbsp;New Task</a> -->

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">

<div class="card text-white bg-secondary mb-3">
    <div class="card-body">
    <h1 class="card-title">{{ task_count }}</h1>
    <!-- <hr> -->
    <!-- <p class="card-text">Text</p> -->
    <!-- <hr> -->
    </div>
    <div class="card-footer">
        Total Tasks (dynamic!)
        <!-- <button class="btn btn-outline text-right" style="float:right;" onClick='#' type='button'><i class="bi bi-square"></i></button> -->
    </div>
</div>

<div class="card text-white bg-info mb-3">
    <div class="card-body ">
    <h1 class="card-title">1</h1>
    <!-- <hr> -->
    <!-- <p class="card-text">Text</p> -->
    <!-- <hr> -->
    </div>
    <div class="card-footer">
        In Progress (not yet dynamic)
    </div>
</div>

<div class="card text-white bg-danger mb-3">
    <div class="card-body">
    <h1 class="card-title">3</h1>
    <!-- <hr> -->
    <!-- <p class="card-text">Text</p> -->
    <!-- <hr> -->
    </div>
    <div class="card-footer">
        Urgent (not yet dynamic)
    </div>
</div>
</div>


{% endblock content %}