{% extends "base.html" %}
{% block title %}
<title>toDoList Home</title>
{% endblock title%}
{% block content %}

<h1>25/11/2022</h1>
<h4>Hi. You have 13 tasks. 3 of these are overdue.</h4>
<br>

<div class="card">
    <div class="card-body">
    <h1 class="card-title">13</h1>
    <!-- <hr> -->
    <!-- <p class="card-text">Text</p> -->
    <!-- <hr> -->
    </div>
    <div class="card-footer">
        Total Tasks
    </div>
</div>

<div class="card">
    <div class="card-body">
    <h1 class="card-title">1</h1>
    <!-- <hr> -->
    <!-- <p class="card-text">Text</p> -->
    <!-- <hr> -->
    </div>
    <div class="card-footer">
        In Progress
    </div>
</div>

<div class="card">
    <div class="card-body">
    <h1 class="card-title">3</h1>
    <!-- <hr> -->
    <!-- <p class="card-text">Text</p> -->
    <!-- <hr> -->
    </div>
    <div class="card-footer">
        Urgent
    </div>
</div>



{% endblock content %}